.container {

}

.Area-menus{
    display: flex;
    align-items:center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(19, 25, 33);
    color: white;
}

.header h1 {
    color: white;
    font-size: 40px;
}

.home-top-menu {
    color: white;
    background-color: rgb(35, 47, 62);
    height: 40px;
}

.imagem-header {
    background-image: url("../../../assets/_Amazon.png");
    background-repeat: no-repeat;
    background-position: 25px 15px;
    width: 200px;
    height: 62px;
}


.location p h3{
    margin-left: 10px;
}
.location p h2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5px;
}

.iconLocation{
    margin-left: -15px;
}

.search{
   display: flex;
   margin-right: 50px;
   align-items: center;
   /* background-color: rgb(255, 154, 0); */
   justify-content: center;
   padding: 2px;
   outline: 0;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
}


.menu-rigth{
    display: flex;
    align-items: center;
}

